In [9]:
import pandas as pd

df = pd.read_csv("ImageID.csv")

df.head()

                                                  id
0  frame_1000_jpg.rf.4916c8c0af7d4979c44157d520e7...
1  frame_1001_jpg.rf.1b94b6b63ada6bebdeb5a71d4ab4...
2  frame_1002_jpg.rf.25421884ef9debbbc10a06fd8c2b...
3  frame_1003_jpg.rf.5ac72a91a3a0a1773b024d0d7bc1...
4  frame_1004_jpg.rf.745d68e993cb6bd1fcca814c869a...

In [10]:
imgName  = df['id'][0]

In [11]:
imgName = imgName.split('.') 
imgName[-1] = "jpg"
imgName = '.'.join(imgName)

In [13]:
lis = [4,1,2,4,1,2,4,1,4]
lis[4:]

[1, 2, 4, 1, 4]